<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<% if (message) { %>
			<h1><%= message %></h1>
			<p>Go back to <a href="/">Login Page</a></p>
			<br>
		<% } %>
		<h1>Search Results</h1>
		<table border="1" cellpadding="3">
			<tr>
				<th width="300">Matched Movies</th>
				<th width="300">Movies With Same Genre</th>
			</tr>
			<% searchResult.map(movie => { %>
				<tr>
					<% if (message) { %>
						<td><%= movie.name %></td>
					<% } else { %>
						<td><a href="/movie-data/<%= movie.id %>"><%= movie.name %></a></td>
					<% } %>
					<td>
						<% if (message) { %>
							<select name="genre" id="genre">
						<% } else { %>
							<select name="genre" id="genre" onchange="location = this.value;">
						<% } %>
								<% movie.moviesWithSameGenre.map(mov => { %>
									<option value="/movie-data/<%= mov.id %>"><%= mov.name %></option>
								<% }); %>
							</select>
					</td>
				</tr>
			<% }); %>
		</table>
  </body>
</html>
