<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<h1>Search Results</h1>
		<table border="1" cellpadding="3">
			<tr>
				<th width="300">Matched Movies</th>
				<th width="300">Movies With Same Genre</th>
			</tr>
			<% movieSearchResultObj.map(movie => { %>
				<tr>
					<td><a href="/movie-data/<%= movie.id %>"><%= movie.name %></a></td>
					<td>
						<select name="genre" id="genre">
							<% movie.moviesWithSameGenre.map(mov => { %>
								<option value="<%= mov.name %>">
									<a href="/movie-data/<%= mov.id %>"><%= mov.name %></a>
								</option>
							<% }); %>
						</select>
					</td>
				</tr>
			<% }); %>
		</table>
  </body>
</html>
